.container {
  width: 100%;
  min-height: 100vh;
  margin: 0;
  padding: 0;
  background-color: #0D4EDB;

  &_wrapper {
    margin: 0px auto;

    .content {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;

      .form_checkbox .form_checkbox_input:checked + .form_checkbox_input_icon {
        background-color: #fff;

        &::after {
          content: url(../../images/icons/checkbox.svg);
        }
      }

      &_left {
        margin: 0px 100px;

        &_img {
          width: 720px;
          height: 680px;
        }
      }

      &_right {
        width: 520px;
        min-height: 100vh;
        border-radius: 12px 0px 0px 12px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        background: #E7EFFA;

        &_title {
          text-align: center;
          font-weight: 500;
          font-size: 20px;
          line-height: 22px;
          margin-bottom: 40px;
        }

        .form {
          display: flex;
          flex-direction: column;
          align-items: left;
          font-weight: 400;

          &_checkbox {
            margin-bottom: 16px;
            font-weight: 400;
            cursor: pointer;
            font-size: 14px;
            line-height: 16px;
            display: flex;
            flex-direction: row;
            align-items: center;
            position: relative;
            display: flex;


            &_input {
              width: 0;
              height: 0;
              opacity: 0;
              margin: 0;
              padding: 0;
              overflow: hidden;


              &_icon {
                background-color: #FFFFFF;
                display: flex;
                align-items: center;
                justify-content: center;
                width: 16px;
                height: 16px;
                border-radius: none;
                border: 1px solid #9B9B9B;
                margin-right: 6px;


                &:after {
                  content: '';
                }
              }
            }
          }
        }

        .update {
          margin-top: 16px;
          display: flex;
          align-items: center;
          justify-content: center;

          &_button {
            color: #0D4EDB;
            font-size: 16px;
            line-height: 20px;
            border: none;
            background-color: transparent;
            cursor: pointer;
          }
        }
      }
    }

    .button {
      width: 100%;
      padding: 10px 70px;
      text-align: center;
      font-size: 16px;
      font-weight: 500;
      line-height: 20px;
      background: #0D4EDB;
      border: 1px solid #D7D7D7;
      color: #FFFFFF;
      border-radius: 10px;
      cursor: pointer;
      box-shadow: 0px 4px 12px rgba(11, 53, 145, 0.12);

      span {
        color: #FFFFFF;
        width: 110px;
        text-align: center;
        margin-left: 4px;
      }
    }

    .section {
      display: flex;
      flex-direction: column;
      margin-bottom: 16px;
      width: 100%;

      &_input {
        margin-top: 8px;
        width: 315px;
        border-radius: 10px;
        padding: 10px 12px;
        border: 1px solid #D7D7D7;
        background-color: #FFFFFF;

        &.error {
          border: 1px solid red;
        }

        &::placeholder {
          color: #9B9B9B;
          font-size: 16px;
          line-height: 20px;
          font-weight: 400;
        }
      }
    }

    .modal {
      max-width: 298px;
      margin: 110px auto;

      &_wrapper {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        .title {
          font-weight: 500;
          font-size: 18px;
          line-height: 22px;
          text-align: center;
          margin-bottom: 24px;
        }

        .subtitle {
          font-weight: 400;
          font-size: 16px;
          line-height: 20px;
          text-align: center;
          margin-top: 16px;
        }
      }
    }
  }
}

.errorMessage {
  font-size: 12px;
  color: red;
  margin-top: 4px;
}