.modal {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 80px;

  &_title {
    font-size: 18px;
    font-weight: 500;
    line-height: 22px;
    text-align: center;
    margin-bottom: 24px;
  }

  &_form {
    width: 315px;
    margin-bottom: 100px;


    &_container {
      display: flex;
      flex-direction: column;
      margin-bottom: 16px;


      &__label {
        font-weight: 500;
        font-size: 14px;
        line-height: 16px;
        margin-bottom: 8px;
      }

      &__input {
        background: #F6F6F6;
        border-radius: 10px;
        padding: 10px 12px;
        border: none;

        &::placeholder {
          color: #A2A2A2;
          font-weight: 400;
          font-size: 12px;
          line-height: 16px;
        }
      }
    }

    &_button {
      margin-top: 24px;
      border-radius: 10px;
      color: #FFFFFF;
      background-color: #0D4EDB;
      border: none;
      box-shadow: 0px 4px 12px rgba(11, 53, 145, 0.12);
      padding: 10px 70px;
      width: 315px;
      cursor: pointer;
    }
  }
}