.container {

  &_func {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin: 24px 0px;
  }

  &_navigation {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 5px;
    justify-content: space-between;
    width: max-content;

    &_prev {
      color: #A2A2A2;
      cursor: pointer;
    }

    &_arrow {
      width: 16px;
    }

    &__active {
      cursor: pointer;
    }
  }

  .addTheme {
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: 18px;
    font-weight: 500;

    &_btn {
      cursor: pointer;
      border: none;
      background-color: transparent;
      font-size: 18px;
      margin-right: 12px;

      &:disabled {
        opacity: 0.5;
        cursor: unset;
      }
    }
  }

  .theme {
    width: 800px;
  }
}