.container_content {
  display: flex;
  flex-direction: column;
  background: #FFFFFF;
  border-radius: 10px;
  padding: 24px 20px 40px 20px;
  width: 800px;
  margin-bottom: 24px;

  .checkbox {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 16px;
    margin-bottom: 24px;

    &_container {
      margin-right: 24px;

      &__input {
        margin-right: 8px;
      }

      &__label {
        font-size: 14px;
      }

    }
  }

  &_title {
    font-size: 16px;
    line-height: 20px;
  }

  .buttons {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    .contr {
      display: flex;
      align-items: center;
      gap: 30px;

      &_button {
        max-width: 200px;

        & + .buttons_button {
          margin-left: 10px;
        }
      }
    }


    &_container {
      display: flex;
      flex-direction: row;
      align-items: center;

      &_btn {
        display: flex;
        flex-direction: row;
        align-items: center;
        margin-left: 40px;
        font-size: 18px;

        &__add {
          cursor: pointer;
          border: none;
          background-color: #FFFFFF;
          font-size: 18px;
          margin-right: 16px;

          &:disabled {
            opacity: 0.5;
            cursor: default;
          }
        }
      }
    }

  }
}

